<% include top %>
<% if(triggerBlocks == '') {%>
<div class="wrapperContent <%-template%>">
    <% if( permission.indexOf('1', 3) == 3 || permission.indexOf('1', 2) == 2 || permission.indexOf('1', 1) == 1) { %>
    <fieldset>
        <legend>Шаблон формы</legend>
        <p><span class="commentForm" >Поля отмеченные звёздочкой обязательны для заполнения!</span></p>
        <form class="subform" action="" method="post">
            <p><label class="label"><span class="star">*</span> Название набора блоков: </label><input type="text" name="<%-template%>[title]" value="<%

                if(locals.messages.length != 0){
                    messages.forEach(function(message) {
                        if(message.type == 'repeatData'){ %><%-message.string.title %><% }
                    })
                } else { %><%-formValue.title %><% } %>" size = "40" /></p>
            <p><label class="label">Псевдоним: </label><input type="text" name="<%-template%>[alias]" value="<%

                if(locals.messages.length != 0){
                    messages.forEach(function(message) {
                        if(message.type == 'repeatData'){ %><%-message.string.alias %><% }
                    })
                } else { %><%-formValue.alias %><% } %>" size = "40" />
                <input type="radio" name="<%-template%>[latin]" value="1" checked>latin
                <input type="radio" name="<%-template%>[latin]" value="0">original<p>
            <p><label class="label">Приоритет: </label><input type="text" name="<%-template%>[line]" value="<%

                if(locals.messages.length != 0){
                    messages.forEach(function(message) {
                        if(message.type == 'repeatData'){ %><%-message.string.line %><% }
                    })
                } else { %><%-formValue.line %><% } %>" size = "20" /></p>
            <% if(permission.indexOf('1', 0) == 0) { %>
            <p><label class="label">Публиковать: </label>
                <select name="<%-template%>[status]">
                    <% if(formValue != ''){ %>
                    <option<% if(formValue.status == true){ %> selected <% } %> value="1">Да</option>
                    <option<% if(formValue.status == false){ %> selected <% } %> value="0">Нет</option>
                    <% } else { %>
                    <option selected value="1">Да</option>
                    <option value="0">Нет</option>
                    <% } %>
                </select>
                На главую:
                <select name="<%-template%>[main]">
                    <% if(formValue != ''){ %>
                    <option<% if(formValue.main  == true){ %> selected <% } %> value="1">Да</option>
                    <option<% if(formValue.main  == false){ %> selected <% } %> value="0">Нет</option>
                    <% } else { %>
                    <option value="1">Да</option>
                    <option selected value="0">Нет</option>
                    <% } %>
                </select>
            </p>
            <% } %>
            <% if (action == 'edit' && permission.indexOf('1', 2) == 2) { %>
            <input  class="edit_btn" type="submit" name="<%-template%>[edit]" value="Править" />&nbsp;&nbsp;&nbsp; <a class="renew_btn" href="/admin/template/<%-template%>">Вернуться</a>
            <% } %>
            <% if (action == 'drop' && permission.indexOf('1', 1) == 1) { %>
            <input  class="drop_btn" type="submit" name="<%-template%>[drop]" value="Удалить" />&nbsp;&nbsp;&nbsp; <a class="renew_btn" href="/admin/template/<%-template%>">Вернуться</a>
            <% } %>
            <% if (action == '' && permission.indexOf('1', 3) == 3) { %>
            <input class="create_btn" type="submit" name="<%-template%>[create]" value="Сохранить" />
            <% } %>
            </p>
        </form>
    </fieldset>
    <% } %>
</div>
<% } %>
<% if(triggerBlocks) { %>
<div class="wrapperContent layer">
    <fieldset>
        <legend>Создание набора блоков</legend>
        <form class="subform" action="" method="post">
            <p><label class="label">Название набора блоков: </label><input type="text" name="<%-template%>[titleBlocks]" value="<%-layerTitle%>" size = "40" /></p>
            <p><label class="label">Псевдоним набора блоков: </label><input type="text" name="<%-template%>[aliasBlocks]" value="<%-layerAlias%>" size = "40" /></p>
            <p><label class="label">Присвоить блок к набору блоков: </label>
                <select name="<%-template%>[selectBlocks]">
                    <%-blocks%>
                </select>
            </p>
            <p><input class="create_btn" type="submit" name="<%-template%>[createBlocks]" value="Добавить блок" />&nbsp;&nbsp;&nbsp;
                <a class="renew_btn" href="/admin/template/<%-template%>">Закрыть форму</a> </p>
        </form>
    </fieldset>
</div>
<% } %>
<div class="wrapperTable">
    <div class="table">
        <%- layer %>
    </div>
</div>
<% include bottom %>